@model FinalyMvs.Models.Tickets

@{
    ViewData["Title"] = "Details";
}



<br
<style> 
    
</style>
<section class="mbr-gallery mbr-section mbr-section-nopadding mbr-section__container mbr-section__container--isolated mbr-after-navbar" id="gallery2-17" data-rv-view="34">
        <div class="container">
                <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
                 <div class="mail-box">
                                  <aside class="sm-side">
                                      <div class="user-head">
                                       
                                          <div class="user-name">
                                           <h5><a href="#">@Login.name</a></h5>
                                              <span><a href="#">Cliente MVcompany</a></span>
                                          </div>
                                      
                                      </div>
                                      <div class="inbox-body">
                                          <a href="#myModal" data-toggle="modal"  title="Compose"    class="btn btn-compose  ">
                                             Back
                                          </a>
                                          <!-- Modal -->
                                         
                                      </div>
                                      <ul class="inbox-nav inbox-divider">
                    @if (Login.isAdmin)
                                     {
                                      <li class="active">
                                          <a href="~/Users/List"><i class="fa fa-inbox"></i> Users </a>

                                      </li>
                                          }
                                          <li>
                                              <a  href="~/Clients/Index" ><i class="fa fa-envelope-o"></i>Clients</a>
                                          </li>
                                          <li>
                                              <a  href="~/Contacts/Index" ><i class="fa fa-bookmark-o"></i> Contacts</a>
                                          </li>
                                          <li>
                                              <a  href="~/Tickets/Index" ><i class=" fa fa-external-link"></i> Tickets</a>
                                          </li>
                                          <li>
                                              <a  href="~/Meetings/Index" ><i class=" fa fa-trash-o"></i> Meeting</a>
                                          </li>
                                      </ul>
            
            
                
                                  </aside>
              </aside>
                                  <aside class="lg-side">
                                      <div class="inbox-head client">

                                          
                                            <a  asp-action="Create"  class="btn   btn-secondary-outline btn-secondary  ">
                                          New
                                          </a> 


                                           <a asp-action="Index"  class="btn   btn-secondary-outline btn-secondary  ">
                                           Back to List
                                          </a>  

                                            <a  asp-action="Edit" asp-route-id="@Model.Id"  class="btn   btn-secondary-outline btn-secondary  ">
                                          Edit
                                          </a>  
                                    
                                    
                                      </div>
                                      <div class="">


                                            <div class="container">
                                                    <div class="row">
                                                <br>

                                                        <section class="content ">

                                     <h2  class="client">Details</h2>

                                        <div class="col-md-8 col-md-offset-2">
                                            <h4  class="client">Tickets</h4>
                                            <hr />
                                            <dl class="client">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Title)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Title)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Problem)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Problem)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.State)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.State)
                                                </dd>
                                                <dt>
                                                   Clients
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Clients.Name)
                                                </dd>
                                                <dt>
                                                  Users
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.Users.Name)
                                                </dd>
                                            </dl>
                                        </div>
                                     

                                                        </section>
                                                    
                                                    </div>
                                                </div>


                            
                            
                                      </div>
                                  </aside>
                                                         </div>
                </div>
</section>




